<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/css/style.css' %}">
    <title>Home Page</title>
</head>
<body>
    <header class="p-2 border-bottom border-primary topbar">
        <h3 class="d-inline-block ml-4">User Message Board</h3>
        <p class="d-inline-block home"><a href="/">Home</a></p>
        <p class="float-right logout"><a href="/signin">Sign In</a></p>
    </header>
    <div class="container p-2">
        <div class="row">
            <div class="col">
                <div class="welcome p-2 pb-5">
                    <h3 class="font-weight-bold">Welcome to User Message Board</h3>
                    <p>This project demonstrates login/registration, password handling, user profile editing, and playing with DateTime. Mostly to customize the output of message timestamps. Powered by Python, Django, SQLite, and Bootstrap.</p>
                        <p>Click the start button to register.</p>
                    <a href="/register"><button class="btn btn-primary start">Start</button></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h5 class="font-weight-bold">User Dashboard</h5>
                <p>The dashboard shows a list of all users and their user level. You can view a user's profile by clicking their name and can leave a message for them or comment on their other messages.</p>
            </div>
            <div class="col">
                <h5 class="font-weight-bold">Leave Messages and Comments</h5>
                <p>Users will be able to leave a message to another user using the application. They can also comment on their own and other user's messages.</p>
            </div>
            <div class="col">
                <h5 class="font-weight-bold">Edit User Information</h5>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc.) Each user can also manage their own profile and change various aspects of their information.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>