<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/css/style.css' %}">
    <title>User Information</title>
</head>
<body>
    <header>
        <h3 class="playnice">Test App</h3>
        <!-- Whatever the page the user is on this page make the link bold -->
        <p class="playnice"><a href="/whichDash">Dashboard</a></p>
        <p class="playnice"><a href="/users/edit">Profile</a></p>
        <p class="playnice"><a href="/logout">Logout</a></p>
    </header>
    <div class="container">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>Registered at: {{user.created_at.date}}</p>
        <p>User ID: #{{user.id}}</p>
        <p>Email address: {{user.email}}</p>
        <p>Description: {{user.description}}</p>

        <h4>Leave a message for {{user.first_name}}</h4>
        <form action="/createPost/{{user.id}}" method="post">
            {% csrf_token %}
            <textarea name="message" id="" cols="30" rows="6" name="message"></textarea>
            <input type="submit" value="Post">
        </form>

        {% for message in messages reversed %}
        <div class="border border-primary">
            <p><a href="/users/show/{{message.author.id}}">{{message.author.first_name.title}} {{message.author.last_name.title}}</a> wrote:</p>
            <p>{{message.time_posted}}</p>                
            <p>{{message.content}}</p>
                <!-- comments start here -->
                {% for comment in message.post_comments.all %}
                <div class="border border-info">
                    <p><a href="/users/show/{{comment.user.id}}">{{comment.user.first_name.title}} {{comment.user.last_name.title}}</a> wrote:</p>
                    <p>{{comment.time_posted}}</p>
                    <p>{{comment.content}}</p>        
                </div>
                {% endfor %}
                <form action="/createComment/{{message.id}}" method="post">
                    {% csrf_token %}
                    <textarea name="message" id="" cols="30" rows="1" name="message">write a message</textarea>
                    <input type="submit" value="Post">
                </form>
        </div>
            {% endfor %}
        
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>